$white: #ffffff;
$light-grey: #F8F9FA;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", "Lato", sans-serif;
    *background-color: pink;

    .navbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            margin: 0 2%;
            font-size: 1.2rem;
        }
    }

    #about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;

        #profile-pic-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
            }

            #social-media-container {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    margin: 0 5%;
                    font-size: 3rem;


                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

                        i {
                            font-size: 1.5rem;
                            color: $white;
                        }

                    }

                    &:hover {
                        transform: scale(1.1);
                        transition: all 0.3s ease;
                    }
                    
                    .fa-github {
                        background-color: #6e5494;
                    }

                    .fa-linkedin {
                        background-color: #0077b5;
                    }

                    .fa-twitter-x {
                        background-color: #1da1f2;
                    }

                    .fa-envelope-at {
                        background-color: #ff6b6b;
                    }
                }
            }
        }

        #text-aboutme-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.2rem;
                margin-bottom: 2%;
            }
        }
    }

    
    #languages-section {
        
        #languages-graph {
            width: 100%;
            height: 500px;
        }
    }
    

    #ai-bd-section {
 
        #nlp-section {
            display: flex;
            margin: 5% 0 5% 0;

            #nlp-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
            
                h4 {
                    margin: 3% 0 3% 0;
                }

            }
            #nlp-graph {
                width: 1000px;
                height: 400px;
            }
    
        }

        #machine-learning-section {
            display: flex;
            margin: 5% 0 5% 0;
            
            #machine-learning-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
            }

            #machine-learning-graph {
                width: 1000px;
                height: 400px;
            }
    
        }

        #big-data-section {
            display: flex;
            margin: 5% 0 5% 0;

            #big-data-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
            
                h4 {
                    margin: 3% 0 3% 0;
                }

            }
            #big-data-graph {
                width: 1000px;
                height: 400px;
            }
        }
        
    }

    #daw-section {

        #daw-graph {
            width: 100%;
            height: 550px;
        }

        #daw-description {
            display: flex;
            margin: 5% 0 5% 0;
        }
    }

    #projects-section {

        #projects-description {
            display: flex;
        }

        #projects-cards-ia {
            width: 100%;
            height: 20%;
            display: flex;

            .project-card {
                width: 30%;
                height: 100%;
                background-color: $light-grey;
                margin: 2%;
                padding: 1.5%;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 10px;


                .card-img {
                    width: 100%;
                    height: 60%;
                }
            }
        }
    }
}