* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", "Lato", sans-serif;
}
* h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
* .navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
* .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
* .navbar-nav a {
  margin: 0 2%;
  font-size: 1.2rem;
}
* #about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
* #about-me #profile-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* #about-me #profile-pic-container img {
  width: 60%;
}
* #about-me #profile-pic-container #social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
* #about-me #profile-pic-container #social-media-container a {
  margin: 0 5%;
  font-size: 3rem;
}
* #about-me #profile-pic-container #social-media-container a span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
* #about-me #profile-pic-container #social-media-container a span i {
  font-size: 1.5rem;
  color: #ffffff;
}
* #about-me #profile-pic-container #social-media-container a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
* #about-me #profile-pic-container #social-media-container a .fa-github {
  background-color: #6e5494;
}
* #about-me #profile-pic-container #social-media-container a .fa-linkedin {
  background-color: #0077b5;
}
* #about-me #profile-pic-container #social-media-container a .fa-twitter-x {
  background-color: #1da1f2;
}
* #about-me #profile-pic-container #social-media-container a .fa-envelope-at {
  background-color: #ff6b6b;
}
* #about-me #text-aboutme-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* #about-me #text-aboutme-container p {
  font-size: 1.2rem;
  margin-bottom: 2%;
}
* #languages-section #languages-graph {
  width: 100%;
  height: 500px;
}
* #technologies-section #nlp-section {
  display: flex;
  margin: 5% 0 5% 0;
}
* #technologies-section #nlp-section #nlp-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
* #technologies-section #nlp-section #nlp-description h4 {
  margin: 3% 0 3% 0;
}
* #technologies-section #nlp-section #nlp-graph {
  width: 1000px;
  height: 400px;
}
* #technologies-section #machine-learning-section {
  display: flex;
  margin: 5% 0 5% 0;
}
* #technologies-section #machine-learning-section #machine-learning-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
* #technologies-section #machine-learning-section #machine-learning-graph {
  width: 1000px;
  height: 400px;
}
* #technologies-section #big-data-section {
  display: flex;
  margin: 5% 0 5% 0;
}
* #technologies-section #big-data-section #big-data-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
* #technologies-section #big-data-section #big-data-description h4 {
  margin: 3% 0 3% 0;
}
* #technologies-section #big-data-section #big-data-graph {
  width: 1000px;
  height: 400px;
}
* #technologies-section #daw-section {
  display: flex;
  margin: 5% 0 5% 0;
}
* #technologies-section #daw-section #daw-graph {
  width: 100%;
  height: 400px;
}
* #technologies-section #daw-section #daw-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
* #projects-section #projects-description {
  display: flex;
}
* #projects-section #projects-cards-ia {
  background-color: rgb(183, 183, 223);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
* #projects-section #projects-cards-ia .card-ia {
  display: flex;
  flex-direction: column;
  align-items: justify;
  width: 20%;
  background-color: #F8F9FA;
  margin: 2%;
  padding: 1.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
* #projects-section #projects-cards-ia .card-ia .image-container {
  height: 30%;
  display: flex;
  align-items: center;
}
* #projects-section #projects-cards-ia .card-ia .image-container .card-img {
  width: 100%;
  transition: transform 0.5s ease;
}
* #projects-section #projects-cards-ia .card-ia .image-container .card-img:hover {
  border-radius: 10px;
  transform: scale(1.5);
  cursor: pointer;
}
* #projects-section #projects-cards-ia .card-ia .card-body .card-title {
  margin: 5% 0 2.5% 0;
  text-align: center;
  color: #6e5494;
  font-size: 1rem;
  font-weight: bold;
}
* #projects-section #projects-cards-ia .card-ia .card-body .card-text {
  margin: 2% 0 2% 0;
  text-align: justify;
  font-size: 0.7rem;
  margin: 2.5% 0 5% 0;
}
* #projects-section #projects-cards-ia .card-ia .card-footer {
  display: flex;
  align-items: center;
}
* #projects-section #projects-cards-ia .card-ia .card-footer a {
  margin-right: 10%;
}
* #projects-section #projects-cards-ia .card-ia .card-footer a img {
  width: 2rem;
}
* #projects-section #projects-cards-ia .card-ia .card-footer a:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
}
* #projects-section #projects-cards-ia .card-ia .card-footer .fab {
  font-size: 2.5rem;
  margin-right: 10%;
}
* #projects-section #projects-cards-ia .card-ia .card-footer .fa-github {
  color: #333;
}
* #education-section #education-oficial-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
* #education-section #education-oficial-container .card-oficial {
  width: 23%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1%;
}
* #education-section #education-oficial-container .card-oficial .card-header {
  font-size: 2rem;
  color: white;
}
* #education-section #education-oficial-container .card-oficial .card-body {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 10%;
}
* #education-section #education-oficial-container .card-oficial.tech {
  background: linear-gradient(to bottom, #54e854 45%, transparent 50%);
}
* #education-section #education-oficial-container .card-oficial.lang {
  background: linear-gradient(to bottom, #b07bce 45%, transparent 50%);
}/*# sourceMappingURL=styles.css.map */