<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {% extends 'base.html' %}
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <h1>Home</h1>
        <p>Este es el contenido de la página de inicio.</p>
        <!-- Agrega más contenido aquí -->
        {% endblock %}
        
    </main>
    <footer>
        <p>&copy; Virginia</p>
    </footer>
</body>
</html>