<nav id='nav-container' class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VOB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Sobre mí</a>
        <a class="nav-link" href="#projects-section">Projects</a>
        <a class="nav-link" href="#resume-section">Ver CV</a>
        <a class="nav-link" href="#contact-section">Contacto</a>
      </div>
    </div>
  </div>
</nav>
