<div class="row">

    <!-- nlp -->
    <h3 class="text-center">Procesamiento del Lenguaje Natural</h3>

    <div id="nlp-description" class="col-md-6">
        <h4>Competencias</h4>
        <ul>
            <li>
                <i class="bi bi-bar-chart-fill"></i>Desarrollo y aplicación de modelos avanzados de inteligencia artificial para la automatización de tareas lingüísticas y la mejora de la interacción humano-máquina: sistemas basados reglas, sistemas expertos, etc.
            </li>
            <li>
                <i class="bi bi-bar-chart-fill"></i>Implementación de soluciones de inteligencia artificial para optimizar y automatizar procesos autónomos, 
                utilizando tecnologías de última generación en PLN: chatbots, asistentes virtuales, etc.
            </li>
            <li>
                <i class="bi bi-bar-chart-fill"></i>  Análisis y caracterización de sistemas de inteligencia artificial para implementar y gestionar funcionalidades avanzadas, procesos de negocio y sistemas de toma de decisiones.
            </li>
        </ul>
    </div>

    <div id="machine-learning-technologies" class="col-md-6">
        <h3>Herramientas</h3>
        <div id="nlp-graph"></div>
    </div>

    </div>

        <!-- machine learning -->
        <div id="machine-learning-description" class="col-md-6">
            <h4>Competencias</h4>
            <ul>
                <li>
                    <i class="bi bi-bar-chart-fill"></i> Desarrollo de algortimos y
                    técnicas de aprendizaje de automático supervisado, no
                    supervisado, redes neuronales, etc.
                </li>
                <li>
                    <i class="bi bi-bar-chart-fill"></i> Creación de modelos
                    predictivos y clasificadores usando diferentes agoritmos de aprendizaje automático: clasifcación, regresión, clustering, árboles decisión, etc.
                </li>
                <li>
                    <i class="bi bi-bar-chart-fill"></i> Identificar y proponer las acciones profesionales necesarias, para dar respuesta a la
                    accesibilidad universal, al «diseño para todas las personas», así como para evitar posibles
                    sesgos de género en el desarrollo y aplicaciones de Inteligencia Artificial y Big Data.
                </li>
                <li>Gestionar de manera eficiente los datos, la información y su representación para
                    transformarlos en conocimiento. Caracterizar sistemas de la Inteligencia Artificial para implantar funcionalidades,
                    procesos y sistemas de decisiones.</li>
            </ul>
        </div>
    
        <div id="machine-learning-technologies" class="col-md-6">
            <h4>Herramientas</h4>
            <div id="machine-learning-graph">
        </div>
    
        </div>

            <!-- big data -->
    <div id="machine-learning-description" class="col-md-6">
        <h4>Competencias</h4>
        <ul>
            <li>
                <i class="bi bi-bar-chart-fill"></i> Integrar sistemas de explotación de grandes volúmenes de datos aplicando
                soluciones de Big Data.
            </li>
            <li>
                <i class="bi bi-bar-chart-fill"></i> Creación de modelos
                predictivos y clasificadores usando diferentes agoritmos de aprendizaje automático: clasifcación, regresión, clustering, árboles decisión, etc.
            </li>
            <li>
                <i class="bi bi-bar-chart-fill"></i>Utilizar soluciones de Big Data para integrar sistemas de explotación de datos y analizar y evaluar soluciones Big Data para su implantación en las funcionalidades,
                procesos y sistemas de decisiones.
            </li>
            <li>Seleccionar datos relevantes de la empresa u organización para desarrollar e
                implementar soluciones que faciliten la toma de decisiones.</li>
        </ul>
    </div>

    <div id="machine-learning-technologies" class="col-md-6">
        <h4>Herramientas</h4>
        <div id="machine-learning-graph">
    </div>

    </div>

</div>