<h4 class="text-center">Desarrollo Web</h4>

<div id="daw-description" class="col-md-6">
    <ul>
        <li>
            <i class="bi bi-bar-chart-fill"></i> Integrar sistemas de explotación de grandes volúmenes de datos aplicando
            soluciones de Big Data.
        </li>
        <li>
            <i class="bi bi-bar-chart-fill"></i> Creación de modelos
            predictivos y clasificadores usando diferentes agoritmos de aprendizaje automático: clasifcación, regresión, clustering, árboles decisión, etc.
        </li>
        <li>
            <i class="bi bi-bar-chart-fill"></i>Utilizar soluciones de Big Data para integrar sistemas de explotación de datos y analizar y evaluar soluciones Big Data para su implantación en las funcionalidades,
            procesos y sistemas de decisiones.
        </li>
        <li>Seleccionar datos relevantes de la empresa u organización para desarrollar e
            implementar soluciones que faciliten la toma de decisiones.</li>
    </ul>
</div>