<div id="daw-description" class="col-md-6">
    <ul>
        <li>
            <i class="bi bi-bar-chart-fill"></i> Desarrollo de algortimos y
            técnicas de aprendizaje de automático supervisado, no
            supervisado, redes neuronales, etc.
        </li>
        <li>
            <i class="bi bi-bar-chart-fill"></i> Creación de modelos
            predictivos y clasificadores usando diferentes agoritmos de aprendizaje automático: clasifcación, regresión, clustering, árboles decisión, etc.
        </li>
        <li>
            <i class="bi bi-bar-chart-fill"></i> Identificar y proponer las acciones profesionales necesarias, para dar respuesta a la
            accesibilidad universal, al «diseño para todas las personas», así como para evitar posibles
            sesgos de género en el desarrollo y aplicaciones de Inteligencia Artificial y Big Data.
        </li>
        <li><i class="bi bi-bar-chart-fill"></i> Gestionar de manera eficiente los datos, la información y su representación para
            transformarlos en conocimiento. Caracterizar sistemas de la Inteligencia Artificial para implantar funcionalidades,
            procesos y sistemas de decisiones.</li>
    </ul>
</div>