<!--Card 1-->
<div class="card-oficial tech">
    
    <div class="card-header">
        <i class="fa-solid fa-robot"></i>
    </div>

    <div class="card-body">
        <p class="card-title">Curso de Especialización en Inteligencia Artificial y Big Data</p>
    </div>

    <div class="card-footer">
    </div>

    
</div>

<!--Card 2-->
<div class="card-oficial tech">
    
    <div class="card-header">
        <i class="fa-solid fa-laptop-code"></i>
    </div>

    <div class="card-body">
        <p class="card-title">Ciclo Superior Técnico de Desarrollo de Aplicaciones Web</p>
    </div>

    <div class="card-footer">
    </div>

</div>

<!--Card 3-->
<div class="card-oficial lang">
    
    <div class="card-header">
        <i class="fa-solid fa-chalkboard-user"></i>
    </div>

    <div class="card-body">
        <p class="card-title">CAP - Certificado de Aptitud Pedagógica</p>
    </div>

    <div class="card-footer">
    </div>

</div>

<!--Card 4-->
<div class="card-oficial lang">
    
    <div class="card-header">
        <i class="fa-solid fa-graduation-cap"></i>
    </div>

    <div class="card-body">
        <p class="card-title">Licenciatura en Filología Inglesa</p>
    </div>

    <div class="card-footer">
    </div>

</div>