<!--Card 1-->
<div class="card-oficial tech">
    
    <div class="card-header">
        <i class="fa-solid fa-laptop-code"></i>
    </div>

    <div class="card-body">
        <h5 class="card-title">Curso de Especialización en Inteligencia Artificial y Big Data</h5>
        <p class="card-text">Uso de herramientas y algoritmos de machine learning y big data 
            para analizar grandes conjuntos de datos, 
            extraer conocimientos valiosos y tomar decisiones basadas en datos.</p>
    </div>

    <div class="card-footer">
        <div class='tag'>IA</div>
        <div class='tag'>Big Data</div>
        <div class='tag'>Machine Learning</div> 
    </div>

</div>

<!--Card 2-->
<div class="card-oficial lang">
    
    <div class="card-header">
        <i class="fa-solid fa-laptop-code"></i>
    </div>

    <div class="card-body">
        <h5 class="card-title">Curso de Especialización en Inteligencia Artificial y Big Data</h5>
        <p class="card-text">Uso de herramientas y algoritmos de machine learning y big data 
            para analizar grandes conjuntos de datos, 
            extraer conocimientos valiosos y tomar decisiones basadas en datos.</p>
    </div>

    <div class="card-footer">
        <div class='tag'>IA</div>
        <div class='tag'>Big Data</div>
        <div class='tag'>Machine Learning</div> 
    </div>

</div>
