<h4 class="text-center">Procesamiento del Lenguaje Natural</h4>

<div id="nlp-description">
    <ul>
        <li>
            <i class="bi bi-bar-chart-fill"></i>Desarrollo y aplicación de modelos avanzados de inteligencia artificial para la automatización de tareas lingüísticas y la mejora de la interacción humano-máquina: sistemas basados reglas, sistemas expertos, etc.
        </li>
        <li>
            <i class="bi bi-bar-chart-fill"></i>Implementación de soluciones de inteligencia artificial para optimizar y automatizar procesos autónomos, 
            utilizando tecnologías de última generación en PLN: chatbots, asistentes virtuales, etc.
        </li>
        <li>
            <i class="bi bi-bar-chart-fill"></i>  Análisis y caracterización de sistemas de inteligencia artificial para implementar y gestionar funcionalidades avanzadas, procesos de negocio y sistemas de toma de decisiones.
        </li>
    </ul>
</div>