<div class="card-ia">
    <div class="image-container">
        <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
    </div>
    
    <div class="card-body">
        <h5 class="card-title">Streaming Kafka sobre Noticias</h5>
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
    </div>

    <div class="card-footer">
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" target="_blank" class="github-icon">
            <i class="fab fa-github github"></i> 
        </a>
        <a href="https://kafka.apache.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/apachekafka/apachekafka-original.svg" alt="kafka-icon"/> </a> 
        <a href="https://www.python.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python-icon"/> </a> 
        <a href="https://scikit-learn.org/stable/index.html" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/scikitlearn/scikitlearn-original.svg" alt="scikit-learn-icon"/> </a> 
    </div>
</div>

<div class="card-ia">
    <div class="image-container">
        <img src="img/medical-leaflet-homepage.png" class="card-img" alt="medical-leaflet-homepage">
    </div>
    
    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con PLN</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escrita.</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" target="_blank" class="github-icon">
            <i class="fab fa-github github"></i> 
        </a>
        <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank" rel="noreferrer"> <img src="https://flask.palletsprojects.com/en/3.0.x/_images/flask-horizontal.png" alt="flask-icon"/> </a> 
        <a href="https://www.python.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python-icon"/> </a> 
        <a href="https://spacy.io" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/SpaCy_logo.svg/2560px-SpaCy_logo.svg.png" alt="spacy-icon"/> </a> 
    </div>
</div>

<div class="card-ia">
    <div class="image-container">
        <img src="img/clustering-visualization.png" class="card-img" alt="clustering-visualization">
    </div>

    <div class="card-body">
        <h5 class="card-title">Ejercicios Aprendizaje no Supervisado</h5>
        <p class="card-text">Uso de diversas técnicas como clustering con k-means, c-means, dbscan, dpc, kernel trick k.means.</p>
    </div>
    
    <div class="card-footer">
        <a href="https://github.com/viorbe20/unsupervised-machine-learning-exercises" target="_blank" class="github-icon">
            <i class="fab fa-github github"></i> 
        </a>
        <a href="https://scikit-learn.org/stable/index.html" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/scikitlearn/scikitlearn-original.svg" alt="scikit-learn-icon"/> </a> 
        <a href="https://www.python.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python-icon"/> </a> 
    </div>
</div>


<div class="card-ia">
    <img src="img/logo-y-colmena.jpg" class="card-img" alt="fab-idi-logo">
    <div class="card-body">
        <h5 class="card-title">Página Web FAB-IDI</h5>
        <p class="card-text">Aplicación web para centralizar los diferentes proyectos y actividades 
            llevados a cabo por la red de innovación educativa interprovincial FAB-IDI (Red de Centros Educativos con un Itinerario de Investigación)</p>
        <a href="https://github.com/viorbe20/unsupervised-machine-learning-exercises" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-ia">
    <img src="img/medical-leaflet-homepage.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con Procesamiento de Lenguaje Natural</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escritaa.</p>
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" class="card-button">GitHub</a>
    </div>
</div>


<div class="card-ia">
    <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Streaming Kafka de Noticias que Evocan Sentimientos</h5>
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-ia">
    <img src="img/medical-leaflet-homepage.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con Procesamiento de Lenguaje Natural</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escritaa.</p>
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" class="card-button">GitHub</a>
    </div>
</div>


<div class="card-ia">
    <h5 class="card-title">Streaming Kafka de Noticias que Evocan Sentimientos</h5>
    <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-ia">
    <img src="img/medical-leaflet-homepage.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con Procesamiento de Lenguaje Natural</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escritaa.</p>
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" class="card-button">GitHub</a>
    </div>
</div>