
<div class="card-project">
    <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Kafka Streaming with News Evoking Emotions</h5>
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-project">
    <img src="..." class="card-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
</div>