
<div class="card-ia">
    <div class="image-container">
        <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
        <i class="fas fa-search-plus lupa"></i>
    </div>
    
    <div class="card-body">
        <h5 class="card-title">Streaming Kafka sobre Noticias</h5>
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-ia">
    <img src="img/medical-leaflet-homepage.png" class="card-img" alt="powerbi-image">
    <i class="fas fa-search-plus lupa"></i>

    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con PLN</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escritaa.</p>
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" class="card-button">GitHub</a>
    </div>
</div>


<div class="card-ia">
    <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Streaming Kafka de Noticias que Evocan Sentimientos</h5>
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-ia">
    <img src="img/medical-leaflet-homepage.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con Procesamiento de Lenguaje Natural</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escritaa.</p>
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" class="card-button">GitHub</a>
    </div>
</div>


<div class="card-ia">
    <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Streaming Kafka de Noticias que Evocan Sentimientos</h5>
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-ia">
    <img src="img/medical-leaflet-homepage.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con Procesamiento de Lenguaje Natural</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escritaa.</p>
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" class="card-button">GitHub</a>
    </div>
</div>


<div class="card-ia">
    <h5 class="card-title">Streaming Kafka de Noticias que Evocan Sentimientos</h5>
    <img src="img/powerbi-general.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <p class="card-text">Ingesta en stream de noticias mundiales 
            y procesamiento en un sistema de Big Data. 
            Extracción de los sentimientos evocados por el cuerpo de la noticia 
            haciendo un estudio comparativo entre artículos en inglés y español.</p>
        <a href="https://github.com/viorbe20/big-data-kafka-streaming-emotions-news" class="card-button">GitHub</a>
    </div>
</div>

<div class="card-ia">
    <img src="img/medical-leaflet-homepage.png" class="card-img" alt="powerbi-image">
    <div class="card-body">
        <h5 class="card-title">Prospecto Médico con Procesamiento de Lenguaje Natural</h5>
        <p class="card-text">Proporciona a los usuarios información variada sobre medicamentos, 
            basándose únicamente en su nombre. 
            Uso de técnicas de Procesamiento del Lenguaje Natural (PLN) 
            para mejorar la accesibilidad, permitiendo tanto la interacción verbal como escritaa.</p>
        <a href="https://github.com/viorbe20/medical-leaflet-api-nlp" class="card-button">GitHub</a>
    </div>
</div>